FridayNight.Client/node_modules/
FridayNight.Web/src/FeatureFolder/bin/
FridayNight.Web/src/FeatureFolder/obj/
FridayNight.Client/npm-debug.log
FridayNight.Web/.vs/FridayNight.Web/v14/.suo
FridayNight.Web/src/FridayNight.Web/bin/
FridayNight.Web/src/FridayNight.Web/obj/
