GoOutOnFriday/Tests/obj/
GoOutOnFriday/Tests/bin/
GoOutOnFriday/src/GoOutOnFriday/bin/
GoOutOnFriday/src/GoOutOnFriday/obj/
GoOutOnFriday/src/FeatureFolder/obj/
GoOutOnFriday/src/FeatureFolder/bin/Debug/netstandard1.6/FeatureFolder.pdb
GoOutOnFriday/src/FeatureFolder/bin/
