.main-content {
	width: 65%;
}

.time-selector {
	width: 100%;
}

.time-range {
	display: inline-block;
}

.left {
	float: left;
}

.right{
	float: right;
}

.link-to-event {
	display: inline;
}

.link-to-event img {	
	width: 400px;
	height: 300px;
}

.link-to-event a {
	text-decoration: none;
}

.title {	
	margin-top: 50px;
}

.header {
	height: 500px;
	width: 80%;
	margin: 0 auto;
	padding-top: 10px;
	background: linear-gradient(transparent, white),
		lightslategray url('../images/main.jpg') no-repeat center;
	background-size: cover;
	color: white;
	text-align: center;
	font-family: Acline;
	font-size: 3em;
}

.header h1 {
	padding-top: 1.5em;
}



.category {
	margin-top: 30px;
	text-align:center;
}

